.photo-page {
    background-color: #e5e5e5;
}

.bg-wrapper {
    background: #FFFFFF;
    width: 1280px;
    box-shadow: 0px 0px 55px #c0c0c0;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
}

.navbar__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    display: inline-block;
}

.navbar__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.main__image {
    width: 1280px;
    height: 789px;
}

.main__header {
    text-align: center;
    /* у макеті заголовок не відцентрований що виглядає неохайно. реалізується за допомогою:
    text-align: left;
    margin-left: 253px;
    margin-right: 253px;
    */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 253px 38px;
}

.main__text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 28px 67.5px;
    color: #373737;
}

.main__btn {
    width: 191px;
    height: 51px;
    margin: 66px 544.5px 42px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.1s;
}

.main__btn:hover {
    background: #e80000;
}

.footer {
    /*background-color: #ad1313;*/
    height: 108px;
}

/*.copy__wrapper {*/
/*    background-color: #103ea1;*/
/*    margin: 40px 105px 29px 713px;*/
/*}*/

.copy {
    padding: 40px 105px 29px 713px;
    height: 39px;
    /*width: 462px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.3px;
    color: #373737;
}